*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Shared style*/

.btn{ 
    background-color: green;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;  
    align-items: center;
    gap: 10px;
}

.btn:hover{
    background-color: red;
}

/*main style*/

.nav-logo{
    
}

.navigation-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
}

.navigation-container .menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
}

.navigation-container .menu li{
     cursor: pointer;
}

.navigation-container .menu li:hover{
    color: red;
}



/* banner er css */

.banner{
    background-image: url("/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;     
    background-position: center; 
    height: 650px;
    display: flex;   
    justify-content: center;
    align-items: center; 
}

.banner-content{
   max-width: 1600px;
    padding: 0 120px;
}

.banner-content .banner-textContent{
     text-align: center;
}


.banner-content .banner-textContent .start-text{
     margin-bottom: 16px;
     margin-left: auto;
     margin-right: auto;
     background-color: white;
     border-radius: 20px;
     padding: 4px 8px;
     width: 230px;
     
}

.banner-content .banner-textContent .start-text span{
     font-size: 15px;
     color: #469165;
}

 .banner-content .banner-textContent .bold-text{
      margin: 16px auto;
 }

  .banner-content .banner-textContent .bold-text h1,h2{
        font-size: 72px;
        font-style: bold;
 }



  .banner-content .banner-textContent .bold-text .first{
     color: white;
  }

  .banner-content .banner-textContent .bold-text .second{
   color: green
  }


 .banner-content .banner-textContent p{
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;        
    font-size: 15px;
    line-height: 24px;
    color: white;
}


.banner-content .banner-btnContent{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 32px;

}

.banner-content .banner-btnContent #transparent-btn{
     background-color: transparent;
     border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 12px 16px;
    cursor: pointer;
}
.banner-content .banner-btnContent #transparent-btn:hover{
    color: red;
}



/*  note section er css*/

.note{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.note-container{
    max-width: 1600px;
    height: 448px;

}



.note-container .note-header{
   padding-top: 75px;
   padding-bottom: 5px;
   text-align: center;
   border: 1px solid red;
   margin-bottom: 44px;
}
.note-container .note-header h1{
    font-size: 48px;
    font-weight: 700px;
}

.note-container .note-header p{
      font-size: 16px;
      color: #637282;
      margin-top: 16px;
}


.note-container .note-card{
    display: flex;
    gap: 24px;
}


.note-container .note-card .card{
    width: 322px;
    height: 300px;
    border-radius: 8px;
    padding: 24px;
}



