*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/* Shared style*/

.btn{ 
    background-color: green;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;  
    align-items: center;
    gap: 10px;
}

.btn:hover{
    background-color: red;
}



/*main style*/

.nav-logo{
    
}

.navigation-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
}

.navigation-container .menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
}

.navigation-container .menu li{
     cursor: pointer;
}

.navigation-container .menu li:hover{
    color: red;
}



/* banner er css */

.banner{
    background-image: url("/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;     
    background-position: center; 
    height: 650px;
    display: flex;   
    justify-content: center;
    align-items: center; 
}

.banner-content{
   max-width: 1600px;
    padding: 0 120px;
}

.banner-content .banner-textContent{
     text-align: center;
}


.banner-content .banner-textContent .start-text{
     margin-bottom: 16px;
     margin-left: auto;
     margin-right: auto;
     background-color: white;
     border-radius: 20px;
     padding: 4px 8px;
     width: 230px;
     
}

.banner-content .banner-textContent .start-text span{
     font-size: 15px;
     color: #469165;
}

 .banner-content .banner-textContent .bold-text{
      margin: 16px auto;
 }

  .banner-content .banner-textContent .bold-text h1,h2{
        font-size: 72px;
        font-style: 700px;
 }



  .banner-content .banner-textContent .bold-text .first{
     color: white;
  }

  .banner-content .banner-textContent .bold-text .second{
   color: green
  }


 .banner-content .banner-textContent p{
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;        
    font-size: 15px;
    line-height: 24px;
    color: white;
}


.banner-content .banner-btnContent{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 32px;

}

.banner-content .banner-btnContent #transparent-btn{
     background-color: transparent;
     border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 12px 16px;
    cursor: pointer;
}
.banner-content .banner-btnContent #transparent-btn:hover{
    color: red;
}




/*  note section er css*/

.note{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.note-container{
    max-width: 1600px;
    height: 470px;
    width: 100%;
    padding: 0px 120px;

}


.note-container .note-header{
   padding-top: 30px;
   padding-bottom: 5px;
   text-align: center;
}
.note-container .note-header h1{
    font-size: 48px;
    font-weight: 700;
}

.note-container .note-header p{
      font-size: 16px;
      color: #637282;
      margin-top: 16px;
}



.note-container .note-card{
    display: flex;
    gap: 24px;
    margin-top: 44px;
}


.note-container .note-card .card{
    width: 290px;
    height: 280px;
    border-radius: 8px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgb(214, 210, 210);
    text-align: center;
}


.note-container .note-card .card .note-icon{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 110px 16px 110px;
}

.note-container .note-card .card .note-icon img{
    width: 20px;
    height: 20px;
}



.note-container .note-card h3{
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;

}

.note-container .note-card p{
    font-size: 14px;
    color: #627362;
    line-height: 20px;
    text-align: center;
    max-width: 240px;
    margin: 0 auto; 
}





/* brain section er css*/

.brain{
    padding: 120px 0px;
}

.brain .brain-container{
    padding: 0px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.brain-container .brain-content{
    width: 700px;
    height: 390px;
    margin: 102px 0px 102px 60px;
}


.brain-container .brain-content .first-half{
    margin-bottom: 40px; 
}


.brain-container .brain-content .first-half h4{
        font-size: 14px;
        line-height: 20px;
        color: #30B868;
        margin-bottom: 16px;
}

.brain-container .brain-content .first-half h1{
        font-size: 48px;
        color: #001931;
}

.brain-container .brain-content .first-half .heading-text{
        margin-bottom: 16px;
}


.brain-container .brain-content .first-half p{
        font-size: 14px;
        line-height: 20px;
        color: #627382;
}




.brain-container .brain-content .second-half{
        height: 128px;
        width: 700px;
}

.brain-container .brain-content .second-half h4{
         display: flex;             
         align-items: center; 
         gap: 12px;   
         margin-bottom: 16px;               
}





/* early accces er css */


.earlyAccess{
    padding: 2px 120px 120px 120px;
    text-align: center;
    align-items: center;
}


.earlyAccess-container{
    padding: 80px 40px;
    background-color: #F7F6F2;
}

 .earlyAccess-content h1{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}


.earlyAccess-content p{
    font-size: 14px;
    line-height: 20px;
    color: #627382;
    margin: 0px 40px;
    max-width: 540px;   
    margin: 0 auto;       
    text-align: center;
}


.earlyAccess-container .earlyAccess-btn{
    margin-top: 24px;
    margin-bottom: 16px;
}

.earlyAccess-container .under-btn p{
    font-size: 14px;
    line-height: 20px;
    color: #627382;
}





/* footer sec er css */

.footer{
    background-color: #001931;
    
}

.footer .footer-container{
    padding: 120px 120px 30px 120px;
}


.footer-container .first-content{
     display: flex;
     justify-content: space-between;
     margin-bottom: 80px;     
}


.footer-container .first-content .social p{
    color: white;
    margin-bottom: 16px;
    margin-right: 107px;
}

.footer-container .first-content .social .social-logo {
      display: flex;
      gap: 16px;
}


.footer-container .first-content .social .social-logo img{
    cursor: pointer;
}


hr{
    color: #E5E7EB;
    margin-bottom: 30px;
    opacity: 20%;
}

 .footer-container .second-content{
    text-align: center;
    color: #FAFAFA;
 }