*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Shared style*/

.btn{ 
    background-color: green;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover{
    background-color: red;
}

/*main style*/

.nav-logo{
    
}

.navigation-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
}

.navigation-container .menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
}

.navigation-container .menu li{
     cursor: pointer;
}

.navigation-container .menu li:hover{
    color: red;
}
